<!DOCTYPE html>
<html lang="en">

<head>
    <title>ChiDuoc SE</title>
</head>

<body>
    <h1>Chi Nguyen SE</h1>
    <video id="localStream" width="300px" controls></video>
</body>
<script>
    navigator.mediaDevices.getUserMedia({ audio: true, video: true })
        .then(stream => {
            const video = document.getElementById('localStream');
            video.srcObject= stream;
            video.onloadedmetadata= function(){
                video.play();
            }
        })
        .catch(error => console.log(error));
</script>

</html>