<!DOCTYPE html>
<html lang="en">

<head>
    <title>ChiDuoc SE</title>
</head>

<body>
    <h1>Chi Nguyen SE</h1>
    <video id="localStream" width="300px" controls></video>
    <br/>
    <label>My connect Token</label>
    <br/>
    <textarea rows="3" cols="100" id="txtMySignal"></textarea>
    <br>
    <input type="text" placeholder="Your friend's signal" id="txtFriendSignal">
    <br>
    <button id="btnConnect">Connect</button>
</body>
<script src="bundle.js"></script>

</html>